#curry-search-autocomplete {
    position: relative;
    min-height: 0px;
    z-index: 1;
    margin: 0px;
    padding: 0px
}

.cs_ac_results {
    background-color: #DDD;
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;

    .cs_ac_result {
        display: block;
        cursor: pointer;
        padding-left: 15px;

        &:hover {
            background: #000;
        }
    }
}

.cs_ac_active {
    background: #000;
}
